/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 45rem;
}

.slider img:not(.active) {
  display: none;
}

.slider {
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.prev, 
.next {
  margin: 1rem;
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev {
  top: -23rem;
}

.next {
  top: -5rem;
}